
  <div class="nav">
    <div class="search-box">
    <button  class="btn-search">Find</button>
    <!-- (keyup)="search($event)" type="text" -->
    <input [(ngModel)]="term" class="input-search" placeholder="Search for a contact...">
  </div>
</div>



<div class="container mt-5">

  <div  class="row">

      <div  class="col-md-6 mt-3" *ngFor="let a of data | filter : term ">
          <div style="background-color: rgb(188, 188, 222);">
            
        <div class="row align-items-center">

          <div class="col-md-3">
          </div>
          <div style="align-items: center;" class="col-md-7">
              <!-- contacts detail -->
              <div class="card mt-3 mb-3 " style="width: 18rem; height: 32rem; margin-left: 10px;">
                <img height="180px" [src]="a.image" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{a.firstName}} {{a.lastName}}</h5>
                  <p class="card-text">Adress: {{a.address.address}} {{a.address.city}},{{a.address.state}}</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Age:{{a.age}}</li>
                  <li class="list-group-item">Username: {{a.username}}</li>
                  <li class="list-group-item">Email:{{a.email}}</li>
                  <li class="list-group-item">Mobile:{{a.phone}}</li>
                  <li class="list-group-item">DOB:{{a.birthDate}} </li>
                  
                </ul>
          </div>


              </div>
          </div>
    

  </div>

</div>

      </div>
  </div>